
body {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
}

/* seção: headline */

header {
    background-color: beige;
    padding: 60px;
    display: flex;  
    flex-direction: row;
}

h1 {
    font-size: 3rem;
    color: black;
}

.texto-destaca{
    font-weight: bold;
}

.titulo-principal {
    text-transform: uppercase;
    font-size: 5rem;
    color: black;
    text-shadow: 3px 3px 3px  silver;
}

.titulo-secundario {
    font-size: 2rem;
    margin-top: 20px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    font-style: italic;
}

.headline-final {
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

.video-botao {
    margin-left: 2rem;
    display: flex; 
    flex-direction: column;
}

.video {
    margin-bottom: 50px;
    border-color: black;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
}

.primeiro-botao {
    transition: 1s;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 20px;
    background-color: orangered;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 5px silver;
}

.primeiro-botao:hover {
    background-color: red;
    transform: scale(1.1);
}

 .titulo-principal:hover {
    color: orange;
}

/* seção: o que é o médodo stc*/

.metodo {
    background-color: burlywood;
    padding: 60px;
}

h3 {
    text-align: center;
    font-size: 3rem;
    color: white;
    margin-bottom: 30px;
    text-shadow: 3px 3px 3px black;
}

.stc {
    width: 300px;
    text-align: center;
    font-size: 1rem;
}

.stc span {
    font-size: 1.5rem;
    color: white;
}

.giovanna {
    float: left;
    margin: 0.5rem 2rem 2rem 0;
    border: 2px solid beige;
    box-shadow: 3px 3px 3px beige;
    border-radius: 1rem;
}

.metodo p {
    text-align: justify;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.metodo p:hover {
    font-weight: bold;
    color: orangered;
 }

/* seção: dos 5 pilares */

.pilares {
    background-color: cadetblue;
    text-align: center;
    padding: 60px;
}

.lista-pilares {
    display: flex;  
    flex-direction: row;
}

.lista-pilares li {
    background-color: beige;
    border-radius: 1rem;
    border: 2px solid white;
    margin: 2rem 0.5rem;
    padding: 1rem;
    width: 30%;
    margin-bottom: 60px;
}

h4 {
    font-size: 1.5rem;
    margin: 1rem;
    text-transform: uppercase;
    color:cadetblue;
    text-shadow: 1px 1px 1px black;
}

.numero {
    color: white;
    text-align: center;
    font-size: 3rem;
    background-color: darkcyan;
    border-radius: 2rem;
    width: 4rem;
    height: 4rem;
    border: 2px solid silver;
    margin: auto;
}

.lista-pilares p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: black;
 
}

.segundo-botao {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 1rem 5rem;
    background-color: darkcyan;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid white;
    transition: 1s;
}

.lista-pilares li:hover {
    background-color: darkcyan;
    font-weight: bold;
}

.segundo-botao:hover {
    background-color: red;
    font-size: 40px;
}

/* seção de quem é a mariana*/

.marianna {
    background-color: burlywood;
    padding: 60px; 
}

h5 {
    text-align: center;
    font-size: 3rem;
    color: white;
    margin-bottom: 60px;
    text-shadow: 3px 3px 3px black;
}

.marianna p {
    text-align: justify;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.img-marianna {
    float: left;
    margin: 0 2rem 2rem 0;
    border: 2px solid beige;
    box-shadow: 3px 3px 3px beige;
    border-radius: 1rem;
}

.marianna p:hover {
   font-weight: bold;
   color: orangered;
}

/* seção de depoimentos */

.depoimentos {
    background-color: cadetblue;
    padding: 60px;
}

h6 {
    text-align: center;
    font-size: 4rem;
    color: white;
    margin-bottom: 30px;
    text-shadow: 3px 3px 3px black;
}

.depoimentos ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.depoimentos li {
    width: 40%;
    margin: 1rem;
    padding: 2rem;
    border: 1px solid rgb(110, 181, 184);
    box-shadow: 5px 5px 5px rgb(110, 181, 184);
    border-radius: 1rem;
    text-align: center;
}

.nome-cliente {
    font-size: 2rem;
    text-transform: uppercase;
    color: wheat;
    margin-bottom: 20px;
}

.video-depoimento {
    width: 450px;
    height: 254px;
    border-radius: 1rem;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px beige;
    border: 2px solid beige;
}

.texto-cliente {
    font-size: 1.5rem;
    color: wheat;
    margin-bottom: 20px;
    text-align: justify;
}

.texto-cliente:hover {
    font-weight: bold;
    color: black;
 }

/* seção do valor */

.conversao {
    background-color: burlywood;
    padding: 60px;
}

.adquira-aqui {
    color: red;
    font-size: 7rem;
    font-weight: bold;
}

.conversao p, ul {
    text-align: center;
}

.valor-dia {
    font-size: 3rem;
    margin-bottom: 30px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.letra-verde {
    font-weight: bold;
    color: green;
}

.conversao li {
    font-size: 2rem;
    color: black;
    margin-bottom: 30px;
}

.conversao li:before {
    content: "✅";
}

.valor-hoje {
    font-size: 3rem;
    margin: 60px 0 20px 0;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.valor-pequeno {
    font-size: 3rem;
    margin-bottom: 30px;
    color: black;
    font-style: italic;
}

.valor-grande {
    font-size: 10rem;
    margin-bottom: 30px;
    color: red;
    font-weight: bold;
    text-shadow: 3px 3px 3px black;
}

.garantia-botao {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ultimo-botao {
    font-size: 6rem;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 20px;
    background-color: red;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    width: 90%;
    margin-bottom: 30px;
    transition: 500ms;
}

.garantia {
    width: 300px;
    height: 218px;
    margin: 50px 0;
}

.dias-gratis {
    font-size: 2rem;
    color: black;
    text-align: center;
}

.ultimo-botao:hover {
    background-color: green;
    transform: scale(1.1);
}

/*footer*/

footer {
    background-color: darkslategray;
    padding: 20px;
}

.aviso {
    font-size: 1rem;
    color: grey;
    text-align: justify;
    line-height: 1.5rem;
}

.copyright {
    font-size: 1rem;
    color: grey;
    text-align: center;
    margin: 2rem;
}

/*tela de celular */

@media screen and (max-width: 480px) {
    body {
        width: 100%;
    }

    header {
        display: block;
        width: 100%; 
}

.video, .video-depoimento {
    width: 100%;
    margin-top: 2rem;
}

.video-botao {
    margin: 0;
}

.metodo, .pilares, .marianna, .depoimentos, .conversao {
    width: 100%;
}

.lista-pilares {
    display: block;
}

.lista-pilares li {
    margin: 2rem 0.5rem;
    width: 100%;
 
}

.img-marianna, .giovanna {
    width: 100%;
    height: 100%;
}

.depoimentos li {
    width: 100%;
}

.adquira-aqui, .valor-grande {
    font-size: 5rem;
}

.ultimo-botao {
    font-size: 3rem;
}

footer {
    width: 100%;
}
